<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">2014SIEtf</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Tim8</property>
  <property name="hibernate.connection.username">EtfSI2014</property>
  <property name="hibernate.default_schema">kvizbiz</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <mapping class="ba.tim8.kvizbiz.entiteti.Administrator"/>
 </session-factory>
</hibernate-configuration>
